{% extends 'base.html.twig' %}

{% block title %}Edit TypeConger{% endblock %}

{% block body %}
    <h1>Edit TypeConger</h1>

    {{ include('type_conger/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_conger_index') }}">back to list</a>

    {{ include('type_conger/_delete_form.html.twig') }}
{% endblock %}
